body{
    background-color: #fff3b0;
}

h1, h2, h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#9a2e2b;

}

p, ul, ol, li{
    font-family:Arial, Helvetica, sans-serif;
    color:#335C67;
}

a:link{
    color:#e09f3e;
}

