body{
    background-color: azure;
}

h1, h2, h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family:Arial, Helvetica, sans-serif;
}

a:link{
    color:orangered;
}

a:hover{
    color:brown;
}

a:active{
    color:maroon;
}

a:visited{
    color:green;
}

