body, header, footer{
    background-color: #540b0e;
    max-width: 800px;
    margin: 0 auto;
    text-align:center;
    font-size: 20px;
}

h1, h2, h3, nav{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#e09f3e;
}

h1{
    white-space:nowrap;
    font-size:4vw;
}

figure, figcaption{
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    color:#84eae6;
}

p, ul, ol, li{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff3b0;
    text-align: left;
}

header nav, 
footer p{
    text-align: center;
}

a, a:visited{
    color:#ffc0cb;
}