<footer>
    <p>
        Quick Links: 
        <a href="https://webpages.charlotte.edu/sjuthuga/" target="_blank">CLT Web</a> | 
        <a href="https://sumiranj.github.io/" target="_blank">GitHub.io</a> | 
        <a href="https://github.com/SumiranJ/" target="_blank">GitHub</a> | 
        <a href="https://www.freecodecamp.org/sumiranj" target="_blank">FreeCodeCamp</a> | 
        <a href="https://www.codecademy.com/profiles/sumiran_juthuga" target="_blank">Codecademy</a> | 
        <a href="https://www.linkedin.com/in/sumiran-juthuga-165848327/" target="_blank">Linkedin</a>
        <br>
        Site designed by <a href="juthugaenterprises.com/">Juthuga Enterprises</a> &copy; 2026
    </p>
</footer>